# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Environment files
.env
venv/
env/

# OS files
.DS_Store
Thumbs.db

# Dataset and model outputs
data/
models/

# Jupyter Notebook checkpoints (اگر بعدا notebook اضافه کردی)
.ipynb_checkpoints/
